<ion-list>
  <ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/imgs/userf1.png">
      </ion-avatar>
      <ion-label>
        <h2>Sandy Squirrel</h2>
      </ion-label>
    </ion-item>
  </ion-list-header>
  <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Dark Theme
    </ion-label>
    <ion-toggle (ionChange)="Toggle($event)" slot="end"></ion-toggle>
  </ion-item>
  <ion-item button>
    <ion-icon slot="start" name="information-outline"></ion-icon>
    <ion-label>About</ion-label>
  </ion-item>
  <ion-item button>
    <ion-icon slot="start" name="cog-outline"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-item>
  <ion-item lines="none" button (click)="ClosePopover()" [routerLink]="['/logout']">
    <ion-icon slot="start" name="exit-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
</ion-list>
