<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img [src]="image"></ion-img>
  <h2>Welcome,</h2>
  <div class="fade">sign in to continue</div>
  <br />
  <br />
  <form>
    <ion-item lines="full" class="ion-no-margin ion-no-padding">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label position="inline">Username</ion-label>
      <ion-input
        type="text"
        name="username"
        [(ngModel)]="usercred.username"
        password="enter email/username"
        clearInput
        required
      ></ion-input>
    </ion-item>
    <br>
    <ion-item lines="full" class="ion-no-margin ion-no-padding">
      <ion-icon name="lock-open-outline"></ion-icon>
      <ion-label position="inline">Password</ion-label>
      <ion-input
        type="password"
        name="password"
        [(ngModel)]="usercred.password"
        clearInput
        required
      ></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="navigateToMain()" expand="block"
          >SIGN IN</ion-button
        >
      </ion-col>
    </ion-row>
    <br />
    <br />
    <div class="fade" style="text-align: center;">
      Don't have an account as yet?
    </div>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/registration']" expand="block" color="secondary" class="border-clr" fill="outline">CREATE ACCOUNT</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <div class="fade" style="text-align: center;">
      TERMS & CONDITIONS
    </div>
  </form>
</ion-content>
