ion-toolbar {
  --background: #173f5e;
//   --background: white;
}

h4 {
  color: #173f5e;
  font-weight: bold;
}

ion-title {
  color: white;
//   color: #173f5e;
}

ion-item > ion-label {
  font-size: 1em;
  color: #173f5e;
}

.cost {
  color: #173f5e;
  font-weight: bold;
}

img#calendar {
    height: 20%;
    display: block;
  margin-left: auto;
  margin-right: auto;

}


div.fade {
  font-size: 12px;
  color: rgb(173, 171, 171);
  line-height: 1rem;
}

ion-button {
  --background: #23a2a8;
}

ion-button.md.button.button-clear.in-toolbar.button-has-icon-only.ion-activatable.ion-focusable.hydrated {
    color: #23a2a8;
}
