<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Events
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="CreatePopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title slot="start" size="large">Events</ion-title>
    </ion-toolbar>
    <ion-button [routerLink]="['/logout']" slot="end" size="large" color="danger">
      logout
    </ion-button>
  </ion-header>


    <ion-header translucent>
      <ion-toolbar>
        <ion-segment slot="start" value="all">
          <ion-segment-button value="all">
            <ion-label>All</ion-label>
            <ion-badge>{{(visible | async)?.length}} </ion-badge>
          </ion-segment-button>
          <ion-segment-button value="hidden">
            <ion-label>Hidden</ion-label>
            <ion-badge color="danger">{{(hidden | async)?.length}}</ion-badge>
          </ion-segment-button>
        </ion-segment>
        <!-- Searchbar with cancel button shown on focus -->
        <ion-searchbar slot="end" showCancelButton="focus"></ion-searchbar>
      </ion-toolbar>

    </ion-header>


  <!-- List of Sliding Items -->
  <ion-list>
    <ion-item-sliding *ngFor="let event of (events|async);let i = index;">
      <ion-item >

        <ion-thumbnail slot="start">
          <img [src]="event.flyer|async">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ event.title }}</h2>
          <h3>Category: {{ event.type }}</h3>
          <p>Description: {{ event.description }} </p>
          <p>Cost: {{ event.cost }} </p>
          <p>Venue: {{ event.venue }}</p>
          <p>Date: {{ dateConvert(event.start_date) }}</p>
          <p>Date: {{ dateConvert(event.end_date) }}</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option>
            <ion-label>Visibility</ion-label>
            <ion-select value="n" cancelText="Cancel" okText="Confirm">
              <ion-select-option value="y">Visible</ion-select-option>
              <ion-select-option value="n">Hidden</ion-select-option>
            </ion-select>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    



  </ion-list>


</ion-content>
