<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img [src]="image" />
    </ion-thumbnail>
    <ion-title slot="start">
      Events
    </ion-title>
    <ion-button
      [routerLink]="['/logout']"
      slot="end"
      size="small"
      color="danger"
    >
      Logout
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title slot="start" size="large">Events</ion-title>
    </ion-toolbar>
    <ion-button
      [routerLink]="['/logout']"
      slot="end"
      size="large"
      color="danger"
    >
      Logout
    </ion-button>
  </ion-header>

  <ion-list-header>
    <!-- Item with badge on left and right -->
    <ion-label>Visible</ion-label>
    <ion-button>
      <ion-badge>{{(visible | async)?.length}} </ion-badge>
    </ion-button>

    <ion-label>Hidden</ion-label>
    <ion-button>
      <ion-badge color="warning">{{(hidden | async)?.length}}</ion-badge>
    </ion-button>
  </ion-list-header>

  <!-- List of Sliding Items -->
  <ion-list>
    <ion-item-sliding *ngFor="let event of (events|async);let i = index;">
      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="event.flyer|async" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ event.title }}</h2>
            <h3>{{ event.category }}</h3>
            <p>{{ event.description }}</p>
            <p class="cost">Cost: <span>${{event.cost}}.00</span></p>
            <p>Venue: {{ event.venue }}</p>
            <p>
              {{ dateConvert(event.start_date) }} - {{
              dateConvert(event.end_date) }}
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option>
            <ion-label>Visibility</ion-label>
            <ion-select value="n" cancelText="Cancel" okText="Confirm">
              <ion-select-option value="y">Visible</ion-select-option>
              <ion-select-option value="n">Hidden</ion-select-option>
            </ion-select>
          </ion-item-option>
        </ion-item-options>
      </ion-card>
    </ion-item-sliding>
  </ion-list>
</ion-content>
