<ion-content [fullscreen]="true" *ngIf="!isDesktop">
  <ion-header [translucent]="true">
      <ion-toolbar>
    <ion-thumbnail slot="start">
      <img [src]="logo" />
    </ion-thumbnail>
    <ion-title slot="start">
      Users
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="CreatePopover($event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



  <!-- Searchbar with cancel button shown on focus -->
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <!-- List of Sliding Items -->
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/imgs/userm1.png">
        </ion-avatar>
        <ion-label>
          <h2>Harry Potter</h2>
          <h3>@Userid</h3>
          <p>I'm a wizard</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item-options >
        <ion-item-option>
            <ion-label>Admin</ion-label>
            <ion-select value="n" cancelText="Cancel" okText="Confirm">
              <ion-select-option value="y">Yes</ion-select-option>
              <ion-select-option value="n">No</ion-select-option>
            </ion-select>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/imgs/userm2.png">
        </ion-avatar>
        <ion-label>
          <h2>Gary Gomez</h2>
          <h3>@Userid</h3>
          <p>Gary. Not the snail.</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item-options>
        <ion-item-option>
            <ion-label>Admin</ion-label>
            <ion-select value="n" cancelText="Cancel" okText="Confirm">
              <ion-select-option value="y">Yes</ion-select-option>
              <ion-select-option value="n">No</ion-select-option>
            </ion-select>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/imgs/userf2.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Elizabeth Elliot</h2>
          <h3>@Userid</h3>
          <p>Event Manager</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
            <ion-label>Admin</ion-label>
            <ion-select value="y" cancelText="Cancel" okText="Confirm">
              <ion-select-option value="y">Yes</ion-select-option>
              <ion-select-option value="n">No</ion-select-option>
            </ion-select>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/imgs/userf1.png">
        </ion-avatar>
        <ion-label>
          <h2>Sarah Smith</h2>
          <h3>@Userid</h3>
          <p>Hello, I'm new!</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
            <ion-label>Admin</ion-label>
            <ion-select value="n" cancelText="Cancel" okText="Confirm">
              <ion-select-option value="y">Yes</ion-select-option>
              <ion-select-option value="n">No</ion-select-option>
            </ion-select>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>
</ion-content>



<div *ngIf="isDesktop" class="desktop">
  <ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
  <ion-row size="5">
    <!-- Searchbar with cancel button shown on focus -->
    <!-- <ion-searchbar style="max-width:600px" showCancelButton="focus"></ion-searchbar> -->

  </ion-row>
  <ion-row size="7">
    <ion-col>
      <div>
        <!-- Searchbar with cancel button shown on focus -->
        <ion-searchbar showCancelButton="focus"></ion-searchbar>

        <!-- List of Sliding Items -->
        <ion-list>
          <ion-item-sliding>
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/imgs/userm1.png">
              </ion-avatar>
              <ion-label>
                <h2>Harry Potter</h2>
                <h3>@Userid</h3>
                <p>I'm a wizard</p>
              </ion-label>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>

            <ion-item-options >
              <ion-item-option>
                  <ion-label>Admin</ion-label>
                  <ion-select value="n" cancelText="Cancel" okText="Confirm">
                    <ion-select-option value="y">Yes</ion-select-option>
                    <ion-select-option value="n">No</ion-select-option>
                  </ion-select>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/imgs/userm2.png">
              </ion-avatar>
              <ion-label>
                <h2>Gary Gomez</h2>
                <h3>@Userid</h3>
                <p>Gary. Not the snail.</p>
              </ion-label>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>

            <ion-item-options>
              <ion-item-option>
                  <ion-label>Admin</ion-label>
                  <ion-select value="n" cancelText="Cancel" okText="Confirm">
                    <ion-select-option value="y">Yes</ion-select-option>
                    <ion-select-option value="n">No</ion-select-option>
                  </ion-select>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/imgs/userf2.jpg">
              </ion-avatar>
              <ion-label>
                <h2>Elizabeth Elliot</h2>
                <h3>@Userid</h3>
                <p>Event Manager</p>
              </ion-label>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                  <ion-label>Admin</ion-label>
                  <ion-select value="y" cancelText="Cancel" okText="Confirm">
                    <ion-select-option value="y">Yes</ion-select-option>
                    <ion-select-option value="n">No</ion-select-option>
                  </ion-select>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/imgs/userf1.png">
              </ion-avatar>
              <ion-label>
                <h2>Sarah Smith</h2>
                <h3>@Userid</h3>
                <p>Hello, I'm new!</p>
              </ion-label>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                  <ion-label>Admin</ion-label>
                  <ion-select value="n" cancelText="Cancel" okText="Confirm">
                    <ion-select-option value="y">Yes</ion-select-option>
                    <ion-select-option value="n">No</ion-select-option>
                  </ion-select>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>


        </ion-list>

      </div>
    </ion-col>

    <!-- <ion-col size="5">
      <br/>
      <ion-row>
        <img src="./assets/imgs/order1.png">
      </ion-row>

    </ion-col> -->


  </ion-row>
</ion-grid>

</ion-content>